body{
	background-color: #F4F1DE;
	text-align: center;
}

#titletext 
{
	color: #E07A5F;
	text-shadow: 4px 3px 0px #81B29A;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 100px;
	font-style: bold;
	font-variant: small-caps;
}

#text
{
	color: #3D405B;
	letter-spacing: 2px;
	text-shadow: 4px 3px 0px #E07A5F;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 30px;
}

#normaltext
{
	color: #3D405B;
	font-family: Tahoma, Geneva, sans-serif;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: lowercase;
	font-size: 20px;
}

#finaltext
{
	color: #3D405B;
	font-family: Tahoma, Geneva, sans-serif;
	text-decoration: none;
	font-style: bold;
	font-variant: small-caps;
	text-transform: uppercase;
	font-size: 30px;

}

input[type=text]
{
	width: 175px;
	height: 30px;
	text-align: center;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

button 
{
	width: 100;
	background-color: #3D405B;
	color: #FFFFFF;
	font-family: Charcoal, sans-serif;
	font-size: 15px;
	padding: 17px 20px;
	margin: 8px 0;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.5s;
}